---
title: "Homework 2"
format:
  html:
    toc: true
    embed-resources: true
    code-fold: true
---

# Homework 2

## Data Science Questions
1) How does power usage evolve throughout the day, by household?
2) Within each hosuehold, which appliances dominate consumption?
3) How do the 3 households compare in terms of lifestyle patterns? 


Potential chart types:
* Heatmap of hour by day of week. 
  * 
* Pie chart of power sources with slider that will evolve the proportions of power sources over time
  * Maybe also have a dropdown menu for household number. 
  * I could also aggregate by type (necessary, recreational, etc.)
* Chart like the one from the altair lab with average power by source (bar chart) and then a line chart that evolves over time. 
  * You would be able to click on a bar to highlight the line

In [2]:
# Import packages
import pandas as pd
import altair as alt
import os 
import glob

## Chart 1

In [3]:
## Load data
def load_household_power(household_num):
    # e.g. "04"
    pattern = f"./eco/eco/{household_num}_sm_csv/{household_num}/*.csv"
    files = sorted(glob.glob(pattern))
    
    dfs = []
    for filepath in files:
        # Extract date from filename
        date_str = os.path.basename(filepath).replace(".csv", "") 
        
        # Read only the first column, skip bad rows
        df = pd.read_csv(filepath, header=None, usecols=[0], names=["power"])
        
        # Replace missing values (-1) with NaN
        df["power"] = df["power"].replace(-1, pd.NA)
        
        # Build a proper datetime index (one row per second)
        df["timestamp"] = pd.date_range(start=date_str, periods=len(df), freq="s")
        df["hour"] = df["timestamp"].dt.hour
        df["day_of_week"] = df["timestamp"].dt.day_name()

        # Household number
        df["household"] = household_num
        
        dfs.append(df)
    
    combined = pd.concat(dfs, ignore_index=True)
    return combined

df_04 = load_household_power("04")
df_05 = load_household_power("05")
df_06 = load_household_power("06")

df1 = pd.concat([df_04, df_05, df_06], ignore_index=True)

:

In [ ]:
df1.head()

     power           timestamp household
0  475.051 2012-06-27 00:00:00        04
1  473.888 2012-06-27 00:00:01        04
2  479.664 2012-06-27 00:00:02        04
3  473.089 2012-06-27 00:00:03        04
4  476.251 2012-06-27 00:00:04        04

In [ ]:


(alt.Chart(df1)
 .mark_rect()
 .encode())